<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Auditoría del Sistema</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="p-4">
<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Registro de Auditoría</h3>
    <a href="/dashboard" class="btn btn-secondary">Volver</a>
  </div>

  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Acción</th>
        <th>Tabla</th>
        <th>Descripción</th>
        <th>Fecha y Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="a : ${registros}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.usuario.username}"></td>
        <td th:text="${a.accion}"></td>
        <td th:text="${a.tabla}"></td>
        <td th:text="${a.descripcion}"></td>
        <td th:text="${#temporals.format(a.fechaHora, 'dd/MM/yyyy HH:mm:ss')}"></td>
        <td th:text="${a.accion}"
        th:classappend="${a.accion == 'LOGIN'} ? 'text-success' :
                    (a.accion == 'LOGOUT' ? 'text-secondary' : '')"></td>

      </tr>
    </tbody>
  </table>

  <div th:if="${#lists.isEmpty(registros)}" class="alert alert-info text-center">
    No se han registrado acciones aún.
  </div>
</div>
</body>
</html>
