<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Editar Paciente</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/icons/bootstrap-icons.css}">
</head>
<body class="p-4">
<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Editar Paciente</h3>
    <a class="btn btn-secondary" href="/pacientes">Volver</a>
  </div>

  <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

  <form th:action="@{/pacientes/actualizar}" th:object="${paciente}" method="post">
    <input type="hidden" th:field="*{idPaciente}" />
    <div class="mb-3">
      <label class="form-label">Nombre Completo</label>
      <input class="form-control" th:field="*{nombreCompleto}" required/>
    </div>
    <div class="mb-3">
      <label class="form-label">DNI</label>
      <input class="form-control" th:field="*{dni}" required/>
    </div>
    <div class="mb-3">
      <label class="form-label">Teléfono</label>
      <input class="form-control" th:field="*{celular}" />
    </div>
    <div class="mb-3">
      <label class="form-label">Correo</label>
      <input class="form-control" type="email" th:field="*{email}" />
    </div>
    <button class="btn btn-primary" type="submit">Actualizar</button>
    <a class="btn btn-outline-secondary" href="/pacientes">Cancelar</a>
  </form>
</div>
</body>
</html>
